body {
    padding-top: 50px;
}

section{
    padding: 40px;
}
.green-text {
    color: #1b6d85 !important;
}

.jumbotron h1{
    margin-top: 60px;
}

.jumbotron {
    background: url("../img/site_showcase_bg.jpg") no-repeat top center;
    color: white;
    height: 598px;
    overflow: hidden;
}

.jumbotron .app-btn{
    width:40%;
    margin-right: 30px;
}


.jumbotron phone{
    width: 75%;
}

.demo{
    width: 100%;
    padding: 5px;
    border: 1px solid gainsboro;
}

#feature{
    background-color: gainsboro;
    color: #fff;
    padding: 10px;
    overflow: auto;
}

#feature ul li{
    font-size: 22px;
    list-style: none;
    line-height: 40px;
}

footer{
    background-color: #333;
    color: white;
    padding: 30px 0 20px 0;
}

footer li{
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
}

footer a{
    color: white;
}

footer p{
float: right;
}